# Dependencies
node_modules/

# Build
dist/
build/

# Environment
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*

# Database
*.sqlite
*.db

# Prisma
prisma/*.db
prisma/migrations/*.sql

# IDE
.vscode/
.idea/

# System
.DS_Store
Thumbs.db
